.todo-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;

    .button-play{
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
    .button-play:hover{
        // animation: spining 300ms 0s infinite ease-out;
    }
    .button-working{
        width: 30px;
        height: 30px;
        animation: spining 1000ms 0s infinite;
    }

    .button-resting{
        width: 30px;
        height: 30px;
    }

    .pomocount{
      display: flex;
      align-items: center;
    }

    .buttons-plusminus,.buttons-delete{
        
        position: absolute;
        right:20px;
        height: 25px;

    }

    .control-button span {
        position: absolute;
    }

    
}


@keyframes spining{
    from {
        transform: rotateZ(0);
    }

    to{
        transform: rotateZ(-360deg);

    }

}


