.todo-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;

    .button-play{
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
    .button-play:hover{
        // animation: spining 300ms 0s infinite ease-out;
    }
    .button-working{
        width: 30px;
        height: 30px;
        
    }

    .button-resting{
        width: 30px;
        height: 30px;
        animation: wiggle 1000ms 0s infinite alternate ;
    }

    .pomocount{
      display: flex;
      align-items: center;
    }

    .buttons-plusminus,.buttons-delete{
        
        position: absolute;
        right:20px;
        height: 25px;

    }

    .control-button span {
        position: absolute;
    }

    .explode{
        width: 25px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .explode:hover{
        animation: explosion 400ms 0s infinite forwards alternate-reverse;
    }

    .explode-wrapper{
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}


@keyframes wiggle{
    from {
        transform: rotateZ(-50deg);
    }

    to{
        transform: rotateZ(-30deg);
    }
}

@keyframes explosion{
    from {
        transform: scale(2);
    }

    to {
        transform: scale(1);
    }
}


