.todo-container{
    position: relative;
    height: 55px;
    max-height: 300px;
    display: flex;
    align-items: flex-start;
    transition: all 1000ms;
    padding-bottom: 10px;

    .todo-title{
        position: absolute;
        top:10px;
        left:10px;
        margin:0;
        span{
            font-size: 25px;
        }
    }

    .todo-items{
        
        list-style: none;
        margin:0;
        padding:0;
        padding-top: 40px;
        padding-left: 20px;
        width:100%
    }
    .todo-name{
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .todo-pagenation{
        width:100px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -50px;
        display: flex;
        align-items: center;
    }
    .pagenationButton{
        cursor: pointer;
    }
    .inputButton{
        display: none;
    }
    
@media (max-width: 500px) {
    .inputButton{
        display: flex;
        position: absolute;
        cursor: pointer;
        right: 5px;
        top: 5px;
        
    }
   
        
        
}
}