.pomoblock{
    width: 35px;
    height: 20px;
    background-color: #e0e0e0;
    display: inline-block;
    border: solid 0.5px white; 
    

    &.finished{
        background-color: #303f9f;
    }
   
    
}