.app-title-container{
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

.app-title{
    height: 100px;
    margin: 0;
}

.info{
    position: absolute;
    right: 0;
    top:0;
    fill: white;
    cursor: pointer;
    z-index: 30;
}
.acheivement-icon{
    position: absolute;
    right: 0;
    bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    color: white;
    svg{
        fill: yellow;
    }
}


}

