.block-acheived-container{
    position: relative;

    height: 200px;

    .acheived-title{
        position: absolute;
        top:10px;
        left:10px;
        margin:0;
    }

    .acheived-blocks{
        display: inline-block;
        padding:0;
        padding-top: 40px;
        padding-left: 20px;
        width:100%
    }

    .deleteIcon{
        position: absolute;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
    }

    .deleteIcon:hover{
        animation: shaking 100ms 0s infinite alternate;
    }


}

@keyframes shaking{
    from {
        transform: rotateZ(0);
    }

    to{
        transform: rotateZ(10deg);
    }
    
}

