@font-face{
  font-family: "Roboto";
  src: url('./assets/font/Roboto-Regular.ttf');
  src: local("Roboto"), url('./assets/font/Roboto-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

*{
  font-family: "roboto";
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}
