@font-face{
  font-family: "Roboto";
  src: url('./assets/font/Roboto-Regular.ttf');
  src: local("Roboto"), url('./assets/font/Roboto-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

*{
  font-family: "roboto";
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #c5cae9;
}


#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  
  width: 50%;
}

.container{
  margin: 10px
}