@font-face{
  font-family: "Roboto";
  src: url('./assets/font/Roboto-Regular.ttf');
  src: local("Roboto"), url('./assets/font/Roboto-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

*{
  font-family: "roboto";
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #212121;
}


#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  
  width: 60%;
}

.container{
  margin: 10px
}

@media (max-width: 862px) {
  .App{
    width: 90%;
  }
  
}


@media (max-width: 731px) {
  .App{
    width: 99%;
  }
  
}

ul{
  list-style-type: none;
  margin:0;
  padding: 0;
}

progress::-webkit-progress-bar {
  background-color: #e0e0e0;
}
progress::-webkit-progress-value {
background-color: #f44336;
}
progress::-moz-progress-bar {
background-color: #e0e0e0;
}